In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import accuracy_score

In [46]:
churndata = pd.read_csv("Credit card churn.csv")

In [47]:
churndata

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.999870
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

In [48]:
churndata= churndata.iloc[:, :-2]

In [49]:
churndata.replace(0, np.nan, inplace=True)

In [50]:
churn_data = churndata.fillna(churndata.mean(numeric_only=True))

In [51]:
churn_data.isnull().sum()

CLIENTNUM                   0
Attrition_Flag              0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
dtype: int64

In [52]:
churn_data

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,M,3.0,High School,Married,$60K - $80K,Blue,39,...,1.0,3.000000,12691.0,777.000000,11914.0,1.335,1144,42,1.625,0.061000
1,818770008,Existing Customer,49,F,5.0,Graduate,Single,Less than $40K,Blue,44,...,1.0,2.000000,8256.0,864.000000,7392.0,1.541,1291,33,3.714,0.105000
2,713982108,Existing Customer,51,M,3.0,Graduate,Married,$80K - $120K,Blue,36,...,1.0,2.556024,3418.0,1537.915372,3418.0,2.594,1887,20,2.333,0.363569
3,769911858,Existing Customer,40,F,4.0,High School,Unknown,Less than $40K,Blue,34,...,4.0,1.000000,3313.0,2517.000000,796.0,1.405,1171,20,2.333,0.760000
4,709106358,Existing Customer,40,M,3.0,Uneducated,Married,$60K - $80K,Blue,21,...,1.0,2.556024,4716.0,1537.915372,4716.0,2.175,816,28,2.500,0.363569
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2.0,Graduate,Single,$40K - $60K,Blue,40,...,2.0,3.000000,4003.0,1851.000000,2152.0,0.703,15476,117,0.857,0.462000
10123,710638233,Attrited Customer,41,M,2.0,Unknown,Divorced,$40K - $60K,Blue,25,...,2.0,3.000000,4277.0,2186.000000,2091.0,0.804,8764,69,0.683,0.511000
10124,716506083,Attrited Customer,44,F,1.0,High School,Married,Less than $40K,Blue,36,...,3.0,4.000000,5409.0,1537.915372,5409.0,0.819,10291,60,0.818,0.363569
10125,717406983,Attrited Customer,30,M,2.0,Graduate,Unknown,$40K - $60K,Blue,36,...,3.0,3.000000,5281.0,1537.915372,5281.0,0.535,8395,62,0.722,0.363569
10126,714337233,Attrited Customer,43,F,2.0,Graduate,Married,Less than $40K,Silver,25,...,2.0,4.000000,10388.0,1961.000000,8427.0,0.703,10294,61,0.649,0.189000

In [54]:
categorical_columns = ["Attrition_Flag", "Gender", "Education_Level", "Marital_Status", 
                    "Income_Category", "Card_Category",]

label_encoders = {}
for column in categorical_columns:
    le = LabelEncoder()
    churn_data[column] = le.fit_transform(churn_data[column])  # Convert categorical to numeric
    label_encoders[column] = le  # Store encoders for future use

In [55]:
churn_data.drop(columns=["CLIENTNUM"], inplace=True)

In [ ]:
churn_data.head()

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,...,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Income_Category_INR
0,1,45,1,3.0,3,1,2,0,39,5,...,3.000000,12691.0,777.000000,11914.0,1.335,1144,42,1.625,0.061000,₹50L - ₹66L
1,1,49,0,5.0,2,2,4,0,44,6,...,2.000000,8256.0,864.000000,7392.0,1.541,1291,33,3.714,0.105000,Less than ₹33L
2,1,51,1,3.0,2,1,3,0,36,4,...,2.556024,3418.0,1537.915372,3418.0,2.594,1887,20,2.333,0.363569,₹66L - ₹100L
3,1,40,0,4.0,3,3,4,0,34,3,...,1.000000,3313.0,2517.000000,796.0,1.405,1171,20,2.333,0.760000,Less than ₹33L
4,1,40,1,3.0,5,1,2,0,21,5,...,2.556024,4716.0,1537.915372,4716.0,2.175,816,28,2.500,0.363569,₹50L - ₹66L

In [56]:
# Define features and target
X = churn_data.drop(columns=["Attrition_Flag"])  # Drop target variable
y = churn_data["Attrition_Flag"]  # Target variable

# Standardize numerical features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled = pd.DataFrame(X_scaled, columns=X.columns)

In [57]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as r2_square
# Train-Test Split (90% Train, 10% Test)
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.10, random_state=30)

In [58]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)

results_data = pd.DataFrame([accuracy])
results_data

          0
0  0.904245

In [59]:
from sklearn.ensemble import RandomForestClassifier
rf_clf = RandomForestClassifier(n_estimators=500, max_depth=15, min_samples_split=5, min_samples_leaf=2, random_state=42)
rf_clf.fit(X_train, y_train)
y_pred_rf = rf_clf.predict(X_test)
print("Random Forest Accuracy:", accuracy_score(y_test, y_pred_rf))

Random Forest Accuracy: 0.9595261599210266

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
import gradio as gr

# Load and clean data
churndata = pd.read_csv("Credit card churn.csv")
churndata = churndata.iloc[:, :-2]
churndata.replace(0, np.nan, inplace=True)
churn_data = churndata.fillna(churndata.mean(numeric_only=True))

# Encode categorical columns
categorical_columns = ["Attrition_Flag", "Gender", "Education_Level", "Marital_Status",
                       "Income_Category", "Card_Category"]
label_encoders = {}
for column in categorical_columns:
    le = LabelEncoder()
    churn_data[column] = le.fit_transform(churn_data[column])
    label_encoders[column] = le

# Drop CLIENTNUM
churn_data.drop(columns=["CLIENTNUM"], inplace=True)

# Define features and target
X = churn_data.drop(columns=["Attrition_Flag"])
y = churn_data["Attrition_Flag"]

# Standardize numerical features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled = pd.DataFrame(X_scaled, columns=X.columns)

# Train/Test Split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.10, random_state=30)

# Train Random Forest model
rf_clf = RandomForestClassifier(n_estimators=500, max_depth=15, min_samples_split=5, min_samples_leaf=2, random_state=42)
rf_clf.fit(X_train, y_train)

# Capture feature names
feature_names = X.columns.tolist()

# Gradio interface
def predict_churn(*inputs):
    # Prepare input DataFrame
    input_dict = dict(zip(feature_names, inputs))
    input_df = pd.DataFrame([input_dict])

    # Encode categorical features
    for col in categorical_columns:
        if col != "Attrition_Flag":
            le = label_encoders[col]
            input_df[col] = le.transform([input_df[col][0]])

    # Scale numeric features
    input_scaled = scaler.transform(input_df)
    input_scaled_df = pd.DataFrame(input_scaled, columns=feature_names)

    # Predict
    pred = rf_clf.predict(input_scaled_df)[0]
    return "Churn" if pred == 1 else "Not Churn"

# Define inputs
input_components = [
    gr.Radio(["Male", "Female"], label="Gender"),
    gr.Dropdown(label_encoders["Education_Level"].classes_.tolist(), label="Education Level"),
    gr.Dropdown(label_encoders["Marital_Status"].classes_.tolist(), label="Marital Status"),
    gr.Dropdown(label_encoders["Income_Category"].classes_.tolist(), label="Income Category"),
    gr.Dropdown(label_encoders["Card_Category"].classes_.tolist(), label="Card Category"),
    gr.Number(label="Customer_Age"),
    gr.Number(label="Dependent_count"),
    gr.Number(label="Months_on_book"),
    gr.Number(label="Total_Relationship_Count"),
    gr.Number(label="Months_Inactive_12_mon"),
    gr.Number(label="Contacts_Count_12_mon"),
    gr.Number(label="Credit_Limit"),
    gr.Number(label="Total_Revolving_Bal"),
    gr.Number(label="Avg_Open_To_Buy"),
    gr.Number(label="Total_Amt_Chng_Q4_Q1"),
    gr.Number(label="Total_Trans_Amt"),
    gr.Number(label="Total_Trans_Ct"),
    gr.Number(label="Total_Ct_Chng_Q4_Q1"),
    gr.Number(label="Avg_Utilization_Ratio")
]

# Map inputs to order expected by model
def reorder_inputs(*args):
    gender, edu, marital, income, card, *nums = args
    input_dict = {
        "Gender": gender,
        "Education_Level": edu,
        "Marital_Status": marital,
        "Income_Category": income,
        "Card_Category": card,
        "Customer_Age": nums[0],
        "Dependent_count": nums[1],
        "Months_on_book": nums[2],
        "Total_Relationship_Count": nums[3],
        "Months_Inactive_12_mon": nums[4],
        "Contacts_Count_12_mon": nums[5],
        "Credit_Limit": nums[6],
        "Total_Revolving_Bal": nums[7],
        "Avg_Open_To_Buy": nums[8],
        "Total_Amt_Chng_Q4_Q1": nums[9],
        "Total_Trans_Amt": nums[10],
        "Total_Trans_Ct": nums[11],
        "Total_Ct_Chng_Q4_Q1": nums[12],
        "Avg_Utilization_Ratio": nums[13]
    }
    return predict_churn(*input_dict.values())

# Launch Gradio app
demo = gr.Interface(fn=reorder_inputs,
                    inputs=input_components,
                    outputs="text",
                    title="Credit Card Churn Predictor",
                    description="Enter customer data to predict if they are likely to churn.")

demo.launch()

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

* Running on local URL:  http://127.0.0.1:7860

To create a public link, set `share=True` in `launch()`.